
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    border-radius: 8px !important;
    box-shadow: none !important;
    font-family: 'Rubik', sans-serif !important;
}

/* #comment-area.dark * {
    border-color: #303030 !important;
    color: #9f9f9f !important
} */

body {
    background: 0 0 !important;
    margin: 0 !important;
}

textarea {
    font-size: 14px !important;
    line-height: 20px !important
}

button {
    border: none !important
}

input,
textarea {
    display: block !important;
    width: 100% !important;
    height: 140px !important;
    padding: 15px 25px 15px 15px !important;
    resize: none !important;
    font-size: 16px !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    outline: 0 !important
}

/* .dark input,
.dark textarea {
    border-bottom: none !important
} */

img {
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 100%
}

.logged-in-info img {
    margin-right: 8px
}

.fast-comments {
    box-shadow: none !important
}

.fast-comments {
    display: flex !important;
    border: none !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 480px !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    max-width: 100% !important
}

.comment-input {
    padding: 12px 24px !important;
    border-radius: 0 !important
}

.comment-input {
    border: none !important
}

.comment-reply-top-bar {
    padding: 16px !important
}

.comment-input input {
    padding: 6px 10px 6px 12px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    border-radius: 12px !important;
    height: 48px !important;
    flex-grow: 1 !important;
    max-width: calc(100% - 48px - 8px * 2) !important
}

.user-info-input.auth-input {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.comment-reply.root .reply-button-wrapper,
.single-line-comment-input .comment-reply.root .reply-button-wrapper {
    position: absolute !important;
    top: 12px !important;
    right: 24px !important;
    width: 48px !important;
    height: 48px !important;
    margin: 0 !important
}

.comment-reply.root .comment-reply-top-bar+.comment-input+.reply-button-wrapper,
.single-line-comment-input .comment-reply.root .comment-reply-top-bar+.comment-input+.reply-button-wrapper {
    /* top: 70px !important; */
    top: 63px !important;
}

.user-info-input.auth-input {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important
}

/* #comment-area.dark .comment-reply.root button .icon {
    filter: unset !important
} */

.comment-reply .auth-input .fast-comments-reply {
    margin-top: 0 !important
}

.comment-reply .auth-input,
.comment-vote-auth.auth-input {
    margin: 0 !important
}

.comment-reply.root button {
    width: 48px !important;
    height: 48px !important;
    overflow: hidden !important;
    border-radius: 8px !important;
    color: transparent !important;
    padding: 0 !important;
    position: relative !important
}

.comment-reply.root button .bubble {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin-left: 0 !important
}

.fastcomments-message-wrapper,
.sso-login-wrapper {
    min-height: 48px !important;
    height: 48px !important;
    border: none !important
}

.fastcomments-message-wrapper .fastcomments-message {
    margin: auto !important;
    max-width: 100% !important
}

.comment-reply .auth-input,
.comment-vote-auth.auth-input {
    padding: 6px 24px !important;
    max-width: 100% !important
}

input,
textarea {
    height: 48px !important;
    max-height: 48px !important
}

/* #comment-area.dark .username {
    color: #fff !important
} */

.comment-reply .auth-input .fast-comments-reply,
.footer,
.live-chat-header .live-chat-icon,
.live-chat-header .live-chat-status-text {
    display: none !important
}

.live-chat-header {
    width: 100% !important;
    display: none !important;
}

#comment-area {
    padding: 0 !important
}

.comments {
    height: fit-content !important;
    border: 0 !important
}

@media (max-width:540px) {
    .comment>.inner {
        display: flex !important;
        /* flex-direction: column !important */
    }
}

.comment-reply-top-bar {
    padding: 5px !important
}

.comment-reply .comment-reply-top-bar {
    margin: 0 0 16px !important;
    padding: 8px 16px 0 !important
}

.logged-in-info img {
    border-radius: 100% !important
}

.comment-reply.root {
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    padding: 0 !important;
    z-index: 1000 !important
}

.top-area {
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1000 !important
}

.comment-replay .comment-input,
.comment-reply .comment-reply-top-bar,
.single-line-comment-input .comment-reply .comment-input {
    flex-grow: 1 !important;
    width: 100% !important
}

.single-line-comment-input .comment-reply {
    margin-bottom: 0 !important
}

.comment>.inner>.comment-bottom,
.select-dir-wrapper {
    border-radius: 0 !important
}

.comments {
    height: fit-content !important
}

.comment:last-child {
    margin-bottom: 200px !important
}

.comment>.inner {
    display: flex !important;
    /* flex-direction: column !important; */
    padding: 8px 16px
}

.comment>.inner,
.comment>.inner .comment-content,
.comment>.inner>.comment-content,
.comment>.inner>div:not(.top-right),
.comments,
.comments .comment {
    width: 100% !important
}

.comment {
    margin-top: 0
}

.comment>.inner {
    padding: 8px 0 !important
}

.comment-reply:not(.show-default-hidden) .default-hidden {
    display: none !important
}

.live-chat-header .live-chat-count {
    float: unset !important
}

.username .activity-icon {
    top: 0 !important
}

.comment .menu .menu-content {
    padding: 6px !important
}

/* #comment-area.dark .card.goes-black {
    background: #0f0f0f !important
} */

.notifications-list .subscribe-info {
    border: none !important
}

#comment-area input::placeholder,
#comment-area textarea::placeholder {
    color: #A8B0C4 !important
}

#comment-area input,
#comment-area textarea {
    color: #111 !important;
    background: #F8F9FD !important;
    border: 1px solid #DFE2EA !important
}
input::placeholder,
textarea::placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #A8B0C4 !important;
}
.comments:empty {
    background-size: 0 !important;
    background: 0 0 !important
}

#comment-area .comment-reply.root .reply-button-wrapper button .icon.bubble {
    /* filter: brightness(8) grayscale(4) !important */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3e%3cpath fill='url(%23a)' d='M4.455 16 0 19.5V1a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H4.455ZM5 7v2h2V7H5Zm4 0v2h2V7H9Zm4 0v2h2V7h-2Z'/%3e%3cdefs%3e%3clinearGradient id='a' x1='-.707' x2='22.042' y1='13' y2='12.767' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23E15595'/%3e%3cstop offset='1' stop-color='%238525AC'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

}

/* 
#comment-area.dark input::placeholder,
#comment-area.dark textarea::placeholder {
    color: rgba(255, 255, 255, .76) !important
}

#comment-area.dark input,
#comment-area.dark textarea {
    color: #fff !important;
    background: #1a1a1a !important;
    border: 1px solid #383838 !important
} */

#comment-area .comment-reply .auth-input input,
#comment-area .comment-vote-auth.auth-input input {
    border: 1px solid #DFE2EA !important;
    margin-top: 0 !important;
}

/* #comment-area.dark .comment-reply .auth-input input,
#comment-area.dark .comment-vote-auth.auth-input input {
    border: 1px solid #303030 !important
} */

#comment-area .comment-input {
    background: rgba(255, 255, 255, 1) !important;
    border-top: 1px solid #DFE2EA !important;
}

#comment-area .comment-input input {
    /* border: 1px solid #e0e0e0 !important;
    background: #fff !important */
    background: #F8F9FD !important;
    border: 1px solid #DFE2EA !important;
    border-radius: 8px !important;
}


/* #comment-area.dark .comment-input {
    background: rgba(38, 38, 38, .72) !important;
    border-top: 1px solid #303030 !important
}

#comment-area.dark .comment-input input {
    border: 1px solid #303030 !important;
    background: #1a1a1a !important
} */

#comment-area .comment-reply.root button {
    background: #ffffff !important;
    border: 1px solid #DFE2EA !important;
}

/* #comment-area.dark .comment-reply.root button {
    background: #ffffff !important;
    border: 1px solid #DFE2EA!important;
} */

#comment-area .comment .menu:hover .menu-content,
#comment-area .comment-reply.root,
#comment-area .single-line-comment-input .comment-reply,
#comment-area .top-area {
    background: #fff !important
}

/* #comment-area.dark .comment .menu:hover .menu-content,
#comment-area.dark .comment-reply.root,
#comment-area.dark .single-line-comment-input .comment-reply,
#comment-area.dark .top-area {
    background: #1a1a1a !important
} */

#comment-area .comment>.inner>.comment-bottom,
#comment-area .select-dir-wrapper {
    border-bottom: 1px solid #DFE2EA !important
}

/* #comment-area.dark .comment>.inner>.comment-bottom,
#comment-area.dark .select-dir-wrapper {
    border-bottom: 1px solid #303030 !important
} */

#comment-area .activity-icon.offline,
#comment-area .notifications-list .subscribe-info,
#comment-area .user-info-input.auth-input {
    background: #ffffffd3 !important
}

/* #comment-area.dark .activity-icon.offline,
#comment-area.dark .notifications-list .subscribe-info,
#comment-area.dark .user-info-input.auth-input {
    background: rgba(38, 38, 38, .72) !important
} */

.comment-reply .comment-reply-top-bar .right .menu .items {}

.comment>.inner>.comment-content .commenter-name .username {
    font-weight: 400 !important;
    font-size: 26px !important;
    line-height: 150% !important;
    color: #9A9A9A !important;
}

.comment>.inner>.comment-content .comment-text {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 150% !important;
    color: #333333 !important;
    padding: 4px 0 0 0 !important;
}

.comment > .inner > .comment-content .commenter-name .username{
    display: flex !important;
}
.comment-reply .comment-reply-top-bar .right,
.comment .top-right{
    right: 24px !important; 
    display: none !important;
}

.comment .avatar-wrapper{
    width: 48px !important;
    height: 48px !important;
    min-width: 48px !important;
    min-height: 48px !important;
    border: none !important;
    border-radius: 100% !important;
    overflow: hidden !important;

}

.comment > .inner > .comment-content{
    margin-left: 16px;
}

.comment .avatar{
    aspect-ratio: 1 / 1 !important;
}

.comments{
    padding: 12px 24px !important;
    max-width: 100% !important;
    box-sizing: border-box;
}

.comment-reply .comment-reply-top-bar .logged-in-info .avatar {
    pointer-events: none !important;
}

.comment .avatar-wrapper.anon {
    pointer-events: none !important;
}