.header-nav ul li a.active:after,
.header-nav ul li a:hover:after,
.tabs .active-tab::after,
.header-nav ul li button.active:after {
    background: linear-gradient(89.43deg, #E15595 -3.17%, #8525AC 109.46%);
}

.td-wrap-completed,
.card-data .btn-container .btn.btn-card-completed {
    color: #2CC07B;
}

.total-block-describe a {
    text-decoration: underline;
}

.footer-list a:hover,
.breadcrumbs li a:hover span,
.footer-form .agree a:hover,
.total-block-describe a:hover,
.footer-row.footer-row-info .footer-part:not(.footer-social-links) a:hover {
    color: #2CC07B;
    text-decoration: underline;
}

.tabs button:hover,
.tabs button.active-tab {
    background-color: #F8F9FD;
}

.btn.btn-clear,
.card-members-btn,
.section-deposit-btns .btn.btn-get,
.card-data .btn-container .btn,
.modal-connect-btns .btn,
.cards-list-empty .btn {
    color: #333333;
    background: #FFFFFF;
    border: 2px solid #DFE2EA;
}

.btn-modal-main,
.btn.btn-submit,
.footer-form .btn-subscribe,
.card-data .btn-container .btn:not(.btn-card-completed):hover,
.section-deposit-btns .btn.btn-deposit,
.header-nav .btn-container .btn.btn-connect {
    /* background: #2CC07B;
    border: 2px solid #2CC07B; */
    background: linear-gradient(89.43deg, #E15595 -3.17%, #8525AC 109.46%);
    color: #FFFFFF;
}

.btn-modal-main:hover,
.btn.btn-submit:hover,
.footer-form .btn-subscribe:hover,
.section-deposit-btns .btn.btn-deposit:hover,
.header-nav .btn-container .btn.btn-connect:hover {
    /* background: #12AC64;
    border: 2px solid #12AC64; */
    background: linear-gradient(89.43deg, #E15595 -3.17%, #8525AC 109.46%);
}

.switch,
.btn-param,
.btn-log-out,
.btn-drop-down,
.input-selected,
.btn-selected-filter,
.section-listing-main,
.profile-container-btns button,
.tab-blocks-list .tab-block,
.sort.unfolded .drop-down,
.drop-down-container .drop-down,
.input-select-wrap.unfolded .drop-down,
.header-nav .btn-container .btn.btn-address {
    background: #FFFFFF;
    border: 1px solid #DFE2EA;
}

.drop-down li:hover,
.btn-drop-down:hover,
.btn-selected-filter:hover,
.input-checkbox label:hover .i-check-line,
.btn-log-out:hover,
.table-chart-data .tr:hover,
.table-activity .tr:hover,
.profile-container-btns button:hover,
.header-nav .btn-container .btn.btn-address:hover,
.listing-additional-options .btn-block:hover,
.sort.unfolded .btn-sort,
.input-select-wrap.unfolded .input-selected,
.sort .btn-sort:hover,
.input-selected:hover,
.btn-param:hover {
    background-color: #F4F5FA;
}

@media (hover: hover) {
    .card:not(.card-inactive):hover {
        transform: translateY(-2px);
        border: 1px solid #DFE2EA;
        /* Shadow hoder */
        z-index: 5;
        box-shadow: 4px 4px 15px rgba(129, 136, 153, 0.25);
    }
}