.page-wrapper main.main-home{
    padding-top: 72px;
    padding-bottom: 0;
}

.section-home{
    padding-top: 100px;
}
.section-home.main-screen{
    padding-bottom: 64px;
}
.section-home:last-child{
    padding-bottom: 100px;
}

.home-page{
    position: relative;
    z-index: 1;
}

.home-page::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    min-height: 960px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-image: url(../images/main-screen-bg.png);
}

.main-screen h1.section-name-h1{
    font-weight: 700;
    font-size: 128px;
    line-height: 152px;
    color: #333333;
}

.main-screen .section-name-h3{
    font-size: 18px;
}

.main-screen-container{
    padding-left: 64px;
    padding-right: 64px;
}

.main-screen .btn.btn-home{
    margin-top: 60px;
    margin-left: 0;
    width: fit-content;
    min-width: 220px;
}

.btn.btn-home{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.main-home{
    position: relative;
}

.screen-animation{
    position: absolute;
    z-index: -1;
}

.main-screen-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* gap: 120px; */
    gap: 10.9%;
    width: 100%;
}

.main-screen-container .section-block {
    flex: 1;
}

.main-home .btn-router-to{
    min-width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
}

.content-home{
    position: relative;
}

.content-home-ui{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.content-home-ui div{
    flex: 1;
    width: 50%;
    height: fit-content;
    min-height: 2120px;
}
.content-home-ui div img{
    width: 100%;
    height: auto;
}

.content-home-ui div:first-child img{
    margin-top: 30%;
    margin-bottom: auto;
}

.content-home-ui div:first-child img{
    margin-top: auto;
    margin-bottom: 30%;
}

.section-block.block-slider{
    overflow: hidden;
    max-width: 100%;
    display: flex;
}