@media (max-width: 768px) {

    .page-wrapper main {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .breadcrumbs {
        margin-bottom: 24px;
    }

    .section-name-h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .header-wrapper .header-search,
    .header-wrapper .header-nav {
        display: none;
    }

    .header-mobile,
    .btn-filter-mobile,
    .btn-param.btn-param-mobile {
        display: flex;
    }

    .section-tabs {
        margin-top: 24px;
        margin-bottom: 24px;

    }

    .section-nft.with-filter {
        grid-template-columns: 1fr;
    }

    .section-nft-filter,
    .btn-param.btn-param-desktop,
    .params-block.params-block-switch {
        display: none;
    }

    .params {
        flex-wrap: wrap;
    }

    .params-block.params-block-filter {
        order: 1;
    }

    .params-block.params-block-sort {
        order: 2;
    }

    .params-block.params-block-search {
        order: 3;
    }

    .section-nft.with-filter .cards-list-container .card,
    .section-nft:not(.with-filter) .cards-list-container .card {
        width: calc(100% /2 - 16px);
    }

    .section-nft-list.card-collapse .card-data {
        opacity: 1;
        height: fit-content;
        overflow: hidden;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .card-main,
    .card-data {
        padding: 8px;
    }

    .params-block.params-block-filter,
    .params-block.params-block-sort {
        width: 50%;
    }

    .card .data-table .data-tr .data-td-value {
        align-items: flex-start;
        text-align: left;
    }

    .card .data-table .data-tr.data-tr-main {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .btn-like {
        width: 24px;
        min-width: 24px;
        height: 24px;
        font-size: 16px;
    }

    .btn-like i {
        width: 16px;
        min-width: 16px;
        height: 16px;
    }

    .card .card-id {
        font-weight: 700;
        font-size: 14px;
    }

    .card .data-table .data-tr.data-tr-date,
    .card .card-value span {
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
    }

    .card .card-value span b {
        font-weight: 400;
    }

    .card .data-table .data-tr:not(:first-child) {
        margin-top: 0;
    }

    .modal-connect-btns .btn,
    .modal-wrapper .btn,
    .cards-list-empty .btn,
    .card-data .btn-container .btn {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    }

    .btn {
        padding: 8px 12px;
    }

    /* footer */

    .footer-section.footer-section-first {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer-section.footer-section-first .footer-block {
        border-top: 1px solid #DFE2EA;
        width: 100%;
        max-width: 100%;
    }

    .footer-section.footer-section-first .footer-block.footer-block-logo {
        border-top: 0;
    }

    .footer-row.footer-row-nav {
        padding-top: 40px;
        padding-bottom: 24px;
    }

    .footer-block,
    .footer-part {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-logo {
        margin-bottom: 24px;
    }

    .footer-block-name {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .footer-block .footer-block-name i.i-arrow-up-s-line {
        display: block;
    }

    .footer-block .footer-list li {
        margin-top: 0;
        margin-bottom: 16px;
        transition: .25s;
    }

    .footer-block.unfolded .footer-list li {
        margin-bottom: 0;
    }

    .footer-block.unfolded .footer-list {
        height: 0;
        overflow: hidden;
    }

    .footer-form {
        width: 100%;
    }

    .footer-row-info .footer-section {
        flex-direction: column-reverse;
        padding-left: 16px;
        padding-right: 16px;
    }

    .faq{
        width: 100%;
        margin: -8px 0;
    }
    .faq-block {
        max-width: 100%;
        margin : 8px 0;
    } 

    .footer-row.footer-row-info {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .footer-service-links {
        flex-direction: column;
        width: 100%;
    }

    .footer-service-links a {
        order: 1;
    }

    .footer-service-links .copyright,
    .footer-service-links a {
        margin-top: 16px;
        margin-right: 0;
        width: fit-content;
    }

    .footer-service-links .copyright {
        order: 2;
        padding-top: 16px;
        width: 100%;
        border-top: 1px solid #DFE2EA;
    }

    .form-contact {
        padding: 40px 16px;
    }

    .form-contact .form .container-input {
        width: 100%;
    }

    .form-contact .form {
        gap: 24px;
    }

    .section-form-title {
        margin-bottom: 24px;
    }

    .form-contact .btn.btn-submit {
        margin-top: 24px;
    }

    [class^='section-service-'], [class^='section-listing-']:not(.section-listing-header){
        margin-top: 24px;
    }
}