body {
    --radius: 8px;
    color: #333333;
    background-color: #ffff;
}


button>i,
a>i {
    font-size: inherit;
}

ul {
    display: flex;
}

ul li,
ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

ul li a {
    width: 100%;
}

[class^="icon-"],
[class*=" icon-"] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ----------------------------------------- */
header {
    border-bottom: 1px solid #DFE2EA;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffff;
    z-index: 50;
}

header+.page-wrapper {
    padding-top: 72px;
}

.page-wrapper main {
    padding-top: 40px;
    padding-bottom: 100px;
}

main>section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    min-height: 72px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer-logo,
.header-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.footer-logo,
.footer-row .copyright,
.header-logo {
    min-width: 219px;
    display: block;
}

.header-logo {
    margin-right: var(--grid-pad);
}

.header-nav {
    margin-left: auto;
}

.header-search {
    flex-grow: 1;
    max-width: 464px;
}

.header-nav,
.header-nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.header-nav ul li {
    color: #333333;
    text-align: center;
}

.header-nav ul li a,
.header-nav ul li button {
    padding: 12px 16px;
    position: relative;
}

.header-nav ul li,
.header-nav ul li {
    margin-left: 4px;
    margin-right: 4px;
}

.header-nav ul {
    margin-left: -4px;
    margin-right: -4px;
}

.header-nav ul li a::after,
.header-nav ul li button::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 2px;
}

.header-nav .btn-container .btn {
    padding: 12px 32px;
    border-radius: var(--radius);
}

.header-wrapper .input-wrapper.search-wrapper {
    min-height: 48px;
    max-height: 48px;
}

.input-wrapper.search-wrapper input {
    height: 100%;
    padding: var(--grid-pad-half);
    color: #333333;
    display: flex;
    flex-grow: 1;
}

.input-wrapper {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    background: #F8F9FD;
    border: 1px solid #DFE2EA;
    border-radius: 8px;
}

.btn-router-to {
    border: 1px solid #DFE2EA;
    padding: 12px 16px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 16px;
    width: fit-content;
    min-width: 200px;
}

.btn-router-to i.i-arrow-right-s-line {
    margin-left: 12px;
}

.btn-router-to,
.header-nav .btn-container .btn.btn-connect,
.input-wrapper.search-wrapper input,
.header-nav ul li a,
.header-nav ul li button {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.tabs .active-tab,
.filter-section-name,
.header-nav .btn-container .btn.btn-connect,
.header-nav ul li a.active,
.header-nav ul li button.active {
    font-weight: 700;
}

.header-nav .btn-container .btn.btn-connect {
    margin-left: var(--grid-pad);
}

.input-wrapper.search-wrapper i.i-search-line {
    font-size: 20px;
    color: #818899;
    margin-left: 16px;
}

input::placeholder {
    color: #A8B0C4;
}

.footer-section {
    display: flex;
    width: calc(100% + var(--grid-pad));
    margin-left: calc(var(--grid-pad-half) * -1);
    margin-right: calc(var(--grid-pad-half) * -1);
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-block,
.footer-part {
    display: flex;
    flex-grow: 1;

    padding-left: var(--grid-pad-half);
    padding-right: var(--grid-pad-half);

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 220px;
    flex-grow: 1;
}

.footer-block .footer-block-name {
    font-weight: 700;
}

.footer-block .footer-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-block .footer-list li {
    margin-top: 16px;
}

.footer-row.footer-row-nav {
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer-row.footer-row-info {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #DFE2EA;
}

.footer-row .copyright {}

footer {
    padding-top: 32px;
    position: relative;
}

footer::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background: linear-gradient(94.89deg, #A5FF80 3.38%, #7FFFCA 99.34%);
    opacity: 0.5;
}

.footer-part {
    display: flex;
    flex-wrap: wrap;
}

.footer-row.footer-row-info .footer-part:not(.footer-social-links) a {
    margin-right: var(--grid-pad);
}

.footer-part.footer-social-links .socila-links-wrap {
    margin: -8px;
    margin-left: auto;
}

.footer-part.footer-social-links a {
    margin: 8px;
}

.footer-part.footer-social-links i {
    font-size: 24px;
    color: #818899;
}

.section-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.section-name-h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    color: #333333;
}

ul.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border-bottom: 1px solid #DFE2EA;
    width: 100%;
}

.tabs li button {
    padding: 12px;
    min-width: 152px;
    position: relative;
    border-radius: 8px 8px 0px 0px;
}

.tabs .active-tab::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

.section-tabs {
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-params {
    margin-bottom: 24px;
}

.breadcrumbs {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 36px;
}

.breadcrumbs li:last-child i.i-arrow-right-s-line {
    display: none;
}

.breadcrumbs i.i-arrow-right-s-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 24px;
}

.breadcrumbs li a {
    position: relative;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}

.breadcrumbs li:not(:last-child) a {
    margin-right: 4px;
    padding-right: calc(4px * 2 + 24px);
}

.breadcrumbs li:last-child {
    color: #9A9A9A;
}

.search {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
}

.search-results,
.drop-down {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    min-width: 100%;
    padding-top: 8px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .25s;
    z-index: -5;
    background-color: #ffff;
}

.drop-down {
    padding-top: 0;
}

.search-results.unfolded,
.sort.unfolded .drop-down {
    height: fit-content;
    opacity: 1;
    z-index: 5;
}

.search-results-wrapper {
    background: #FFFFFF;
    border: 1px solid #DFE2EA;
    box-shadow: 4px 4px 20px rgba(129, 136, 153, 0.1);
    border-radius: 8px;
}


.search-results-wrapper ul,
.search-results-wrapper ul li,
.drop-down ul,
.drop-down ul li {
    width: 100%;
}

.drop-down ul,
.search-results-wrapper ul,
.search-results-wrapper ul .results-data,
.collection-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.collection-data,
.search-results-wrapper ul .results-data {
    padding-left: 16px;
}

.drop-down ul li,
.search-results-wrapper ul li,
.td-wrap.td-wrap-collection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
    cursor: pointer;
}

.drop-down ul li,
.search-results-wrapper ul li {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
}

.search-results.unfolded ul li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.sort.unfolded .drop-down ul li {
    padding-top: 12px;
    padding-bottom: 12px;
}

.search-results-wrapper ul li .results-data> :not(.name) {
    font-size: 14px;
    margin-top: 3px;
    color: #9A9A9A;
}

.collection-img,
.search-results-wrapper li .results-icon {
    height: 48px;
    width: 48px;
    min-width: 48px;
    border: 1px solid #DFE2EA;
    background-color: #DFE2EA;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thead .td-collection span {
    padding-left: 16px;
    padding-right: 16px;
}

.td-wrap-collection .collection-img {
    margin-left: 16px;
}

.params {
    display: flex;
    width: calc(100% + var(--grid-pad));
    margin-left: calc(var(--grid-pad-half) * -1);
    margin-right: calc(var(--grid-pad-half) * -1);
    justify-content: flex-start;
    align-items: flex-start;
}

.params-block {
    display: flex;
    padding-left: var(--grid-pad-half);
    padding-right: var(--grid-pad-half);
}

.params-block.params-block-search {
    flex-grow: 1;
}

.params-block .param-wrap {
    position: relative;
    width: 100%;
}

.switch {
    display: flex;
    width: fit-content;
}

.switch,
.btn-param,
.btn-selected-filter {
    background-color: #FFFFFF;
    border: 1px solid #DFE2EA;
    border-radius: 8px;
    min-height: 48px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
}

.btn-selected-filter.btn-reset {
    border: 1px solid #FF5B5B;
}

.btn-switch {
    max-width: fit-content;
    padding: 12px 16px;
    border-color: transparent;
}

.btn-selected-filter {
    padding: 12px 16px;

}

.switch {
    max-width: fit-content;
}


.btn-switch.switch-active {
    background: #818899;
    color: #ffff;
}

.btn-switch.switch-active i {
    color: #ffff;
}

.params .input-wrapper {
    min-height: 48px;
}


.params-block.params-block-filter .btn-param,
.params-block.params-block-sort .btn-param {
    padding-left: var(--grid-pad-half);
    padding-right: var(--grid-pad-half);
    min-width: 154px;
}


.btn-param i {
    color: #818899;
    font-size: 24px;
}

.btn-param i+span,
.btn-param span+i,
.btn-selected-filter i+span,
.btn-selected-filter .icon-selected-filter+span,
.btn-selected-filter span+i {
    margin-left: var(--grid-pad-half);
}

.btn-selected-filter .icon-selected-filter {
    border: 1px solid #DFE2EA;
    background-color: #ffff;
    border-radius: 4px;
    width: 24px;
    height: 24px;
}

.btn-selected-filter i.i-close-line {
    width: 24px;
    font-size: 24px;
    color: #818899;
}

.btn-sort {
    justify-content: space-between;
}

.sort.unfolded .btn-sort {
    border-radius: 8px 8px 0px 0px;
    background: #F4F5FA;
}

.sort.unfolded .drop-down {
    border: 1px solid #DFE2EA;
    border-top: unset;
    border-radius: 0px 0px 8px 8px;
}

.filter,
.filter-section,
.filter ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.search-results-wrapper ul,
.filter-section,
.filter .filter-section-name,
.filter-section:not(.collapse-section) .container-enter-price,
.filter-section:not(.collapse-section) ul li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.filter .filter-section-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter-section .filter-section-name i.i-arrow-up-s-line {
    margin-left: auto;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #818899;
    position: relative;
}

.sort.unfolded .btn-sort i.i-arrow-down-s-line,
.filter-section.collapse-section .filter-section-name i.i-arrow-up-s-line {
    transform: scaleY(-1);
    transition: .25s;
}

.filter-section {
    border-bottom: 1px solid #DFE2EA;
}

.filter-section .input-checkbox,
.filter-section .container-enter-price,
.filter-section .filter-ul {
    transition: 0.2s;
}

.filter-section.collapse-section .input-checkbox,
.filter-section.collapse-section .container-enter-price,
.filter-section.collapse-section .filter-ul {
    height: 0;
    overflow: hidden;
}

.filter ul li {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.section-nft {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;


}

.section-nft:not(.with-filter) {
    grid-template-columns: 1fr;
}

.section-nft.with-filter {
    grid-template-columns: 1fr 4fr;
    gap: var(--grid-pad);
}

.input-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 24px;
    width: 100%;
}

.input-checkbox label {
    padding-right: calc(24px + var(--grid-pad));
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
}

.input-checkbox label .i-check-line {
    width: 24px;
    height: 24px;
    text-align: center;
    color: transparent;
    transition: .2s;
    border: 2px solid #818899;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;

}

.input-checkbox input[type='checkbox']:checked+label .i-check-line {
    color: #ffff;
    background-color: #2CC07B;
    border: 0px solid #2CC07B;
    font-size: 24px;
}

.icon-filter-checkbox {
    border: 1px solid #DFE2EA;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.selected-filters ul {
    width: 100%;
    margin-left: -16px;
    width: calc(100% + 16px);
}

.selected-filters ul li {
    margin-left: 16px;
    margin-bottom: 16px;
}

.selected-filters {
    width: 100%;
}

.cards-list {
    width: 100%;
}

.cards-list-empty,
.cards-list-load {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.cards-list-empty {
    flex-direction: column;
}

.cards-list-load .i-wrap {
    width: 48px;
    height: 48px;
    color: #2CC07B;
    position: relative;
    font-size: 48px;
}

.cards-list-load .i-wrap i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: icon-load .8s ease-out infinite;
}

@keyframes icon-load {
    form {
        transform: translate(-50%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.cards-list-container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;
}

.section-nft.with-filter .cards-list-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.section-nft:not(.with-filter) .cards-list-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.card {
    min-height: 275px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 4px 20px rgba(129, 136, 153, 0.1);
    border-radius: 8px;
    /* overflow: hidden; */
}

.card,
.card-main,
.card-data {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    position: relative;

}

.card-main {
    border-radius: 8px 8px 0 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;

}

.card-header,
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
    position: relative;
}

.icon-card-label,
.btn-like i {
    width: 24px;
    height: 24px;
}

.card-img,
.collection-img,
.search-results-wrapper li .results-icon,
.td-wrap-collection .collection-img,
.card-img-wrap {
    background-image: url(../images/img-not-found.svg);
    /* background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; */
}

.icon-like {
    background-image: url(../images/like.svg);
}

.icon-dislike {
    background-image: url(../images/dislike.svg);
}

.icon-card-label {
    background-image: url(../images/test-label.png);
}

.icon-token {
    background-image: url(../images/test-token.png);
}

.card-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1 / 1;
    z-index: 0;
}

.card-main,
.card-data {
    padding: 16px;
}

.card-data {
    margin-top: auto;
}

.card-main .card-footer,
.card-data .btn-container {
    margin-top: auto;
}

.card-data .btn-container .btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    padding: 12px 16px;
    margin-top: 8px;
    width: 100%;
    border-radius: 8px;
}

.section-nft-list.card-collapse .card,
.section-nft-list.card-collapse .card-main,
.section-nft-list.card-collapse .card-img {
    border-radius: 8px;
}

.section-nft-list.card-collapse .card-data {
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.card-progress {
    background: #FFFFFF;
    border: 3px solid #DFE2EA;
    border-radius: 12px;
    height: 24px;
    flex-grow: 1;
    overflow: hidden;
}

.progress-value {
    width: 0;
    overflow: hidden;
    height: 100%;
    background: #2CC07B;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #ffff;
}

.cards-list-empty {
    padding: 12px 16px;
}

.tab-info .data-table .data-td {
    max-width: 50%;
    width: 50%;
    min-height: 24px;
}

.tab-info .data-table {
    gap: 16px;
}

.card-id {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.card-value {
    position: relative;
    padding-left: 16px;
}

.card-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.card-value span {
    font-weight: 700;
    font-size: 16px;
}

.card-value .icon-value {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 0;
}

.token-value .icon-token,
.card-value .icon-value{
    background-image: url(../images/ethereum.svg);

}


.data-table {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.card .data-table .data-tr {
    color: #9A9A9A;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.card .data-table .data-tr:not(:first-child) {
    margin-top: 2px;
}

.card .data-table .data-tr.data-tr-main {
    color: #333333;
}

.card .data-table .data-tr.data-tr-date {
    margin-top: 8px;
    font-size: 14px;
}

.data-tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.container-enter-price {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 100%;
}

.container-enter-price .container-input {
    flex-grow: 1;
}

.container-enter-price .container-input input {
    padding: 12px 16px;
    max-width: 112px;
}

.between-inputs {
    padding: 0 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

.thead,
.tr {
    display: grid;

}

.table {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr,
}

.table-activity .thead,
.table-activity .tr {
    grid-template-columns: 1.5fr .75fr 1fr 1fr 1fr;
    /* width: 100%; */
    border-bottom: 1px solid #DFE2EA;
    gap: 16px;
}

.table-activity .thead .td.td-price,
.table-activity .tr .td.td-price,
.table-activity .thead .td.td-date,
.table-activity .tr .td.td-date {
    text-align: right;
}

.table-activity .thead .td.td-price,
.table-activity .tr .td.td-price {
    margin-right: 50px;
}

.thead .td,
.tr .td {
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tr .td-light {
    font-size: 14px;
    margin-top: 3px;
    display: block;
}

.thead .td,
.tr .td-light,
.tab-info .data-td.data-td-name {
    color: #9A9A9A;
}

.td-wrap-sale,
.token-value ,
.td-wrap-price,
.td-wrap-link {
    position: relative;
    min-height: 24px;
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100%;
}

.td-wrap-sale i,
.td-wrap-price i,
.token-value .icon-value,
.td-wrap-price .icon-token,
.td-wrap-link i {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #818899;
    top: 0;
}

.td-wrap-link {
    padding-right: 28px;
}

.td-wrap-sale,
.td-wrap-price,
.token-value  {
    padding-left: 28px;
}

.td-wrap-price {
    justify-content: flex-end;
    margin-left: auto;
    width: fit-content;
}

.td-wrap-price span,
.td-wrap-link span {
    max-width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-wrap-link i {
    right: 0;
}

.td-wrap-sale i,
.token-value .icon-token,
.td-wrap-price .icon-token {
    left: 0;
}

.collection-wrap {
    display: flex;
    align-items: center;
}

.listing-header .collection-wrap .collection-id {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.collection-id.collection-label {
    position: relative;
    padding-right: calc(20px + 10px);
}

.collection-id.collection-label i.i-checkbox-circle-fill {
    position: absolute;
    color: #2F80ED;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.recommendations-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: start;
    gap: 16px;
}

.recommendations-list li,
.recommendations-list li .card {
    width: 100%;
}

.header-title-btn {
    display: flex;
    align-items: center;
}

.header-title-btn .btn-wrap {
    margin-left: auto;
}

.header-title-btn .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
}

.card-listing {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    position: relative;
}

.card-listing .section-card-img {
    width: 100%;
    position: sticky;
    top: 200px;
}

.card-img-wrap {
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.section-listing-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.listing-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.listing-main .section-listing-header .listing-additional-options {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.btn-wrap {
    position: relative;
    width: fit-content;
}

.btn-block {
    aspect-ratio: 1 / 1;
}

.listing-additional-options .btn-block {
    color: #818899;
    font-size: 24px;
    border: 1px solid #DFE2EA;
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
}

.listing-name {
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.owned-row {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #9A9A9A;
}

.owned-row span,
.owned-row a {
    color: #333333;
}

.container-listing+.section-recommendation {
    margin-top: 100px;
}

[class^='section-listing-']:not(.section-listing-header) {
    margin-top: 40px;
}

.listing-selected-tab {
    padding-top: 24px;
}

.tab-contain .collection-description{
    max-width: 586px;
}
.collection-statistics,
.tab-contain .collection-description {
    margin-top: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.collection-statistics li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.collection-statistics .name{
    color: #9A9A9A;
    margin-bottom: 4px;
}

.tab-contain .collection-statistics {
    margin-top: 16px;
    max-width: 586px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}